@set vbody {
    :root {
        behavior: virtual-list;
        prototype: VBody url(vbody.js);

        size: *;

        overflow-y: auto; //scroll-indicator;
    }

    :root > tr:current {
        foreground-color: rgba(0,0,0,0.3);
    }

    :root > tr > td {
        border-left: 1dip solid #ccc;
        border-bottom: 1dip solid #ccc;

        padding: 0 0.3em;

        color: #222;
        white-space: nowrap;

        //overflow-x: hidden;
    }

    :root > tr > td:nth-child(3) {
        width: *;

        overflow-x: hidden;
    }

    :root > tr:nth-child(odd) {
        background-color: rgb(240,240,240);
    }
}

